.header__account {
  background: url(../../../images/header-account.svg) no-repeat 100%/cover;
  width: 30px;
  height: 30px;
  border: none;
}

.header__account:focus{
  outline: none;
}

@media (max-width: 1275px) {
  .header__account {
    display: none;
  }
}
